.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  margin: 0 auto;
  max-width: 75dvw;
}

.app__main {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
